p {
    text-align: center;
    color: #9a9a9a;
    font-weight: bold;
    font-size: 1rem;

  }

  label{
    font-size: medium;
    color: blue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .container .row {
    display: flex;
    justify-content: space-between;
  }
  
  .narrow-date-input {
    max-width: 100px; 
    width: auto;
  }

  .col-md-6{
    align-self: center;
  }

  .h5 {
    margin-top: 75px;
    text-align:center;
  }
  
  .remove-button {
    margin-right: 5px;
  }
  
  .remove-button {
    color: black; 
  }
  .remove-icon {
    color: black; 
  }
  .custom-add-button {
    position: absolute;
    top: 1.1rem; 
    right: 3;
  }
  .appointments-container {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px
  }

   .btn-delete {
    margin: 0.2rem;
    color: blue;
  } 
  
  .btn-danger {
    background-color: #dc3545; 
    color: blue; 
    border-color: #dc3545; 
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333; 
  }
  
  .appointments-table {
    table-layout: fixed;
    width: 100%; 
  }
  
  .appointments-table th {
    width: 35%; 
  }
  
  .appointments-table td {
    width: 30%; 
  }

.table-flex {
  display: table;
  width: 100%;
  border-collapse: collapse;
}


.table-flex td {
  display: table-cell;
  width: 25%; 
  padding: 3px;
  border: 1.5px solid #0c0c0c; 
}
