  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <label for="doctors">
          <i class="bi bi-person-fill"></i> Doctors:
        </label>

        <select
          name="doctors"
          class="form-control"
          [(ngModel)]="selectedDoctorId"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="onDoctorSelection()"
        >
          <option [ngValue]="null"></option>
          <option [ngValue]="doctor.id" *ngFor="let doctor of doctors">
            {{ doctor.fullName }}
          </option>
        </select>
      </div>
  
      <div class="col-md-4">
        <label for="patients">
          <i class="bi bi-person-fill"></i> Patients:
        </label>
        <select
          name="patients"
          class="form-control"
          [(ngModel)]="selectedPatientId"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="onPatientSelection()"
        >
          <option [ngValue]="null"></option>
          <option [ngValue]="patient.id" *ngFor="let patient of patients">
            {{ patient.fullName }}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="date">
          <i class="bi bi-calendar"></i> Date:
        </label>
        <app-calendar (selectedDateChange)="onDateSelection($event)"></app-calendar>
      </div>

      <div class="col-md-4 offset-md-9 text-right custom-add-button">
        <button class="btn btn-primary"  (click)="openAddAppointmentModal()" [disabled]="!isAddButtonEnabled"> Add </button>
      </div>
    </div>
    
  <div class="row">
    
    <div class="col-md-12">
      <div ng-container *ngIf="  (isDoctorSelected && !selectedPatientId) ||
      (isPatientSelected && !selectedDoctorId) ||
      (isDoctorSelected && isPatientSelected) || (isPatientSelected && selectedPatientId)">
        <h5 class="h5">Appointments</h5>
        <ng-container *ngIf="(appointments.length || patientAppointments.length || mergedAppointments.length)> 0; else noAppointmentsMessage">
          <div class="appointments-container">
            <table class="table table-flex">
              <thead>
                <tr>
                  <th>
                    Doctor
                    <i [ngClass]="doctorSortOrder === 'asc' ? 'bi bi-caret-down-fill' : 'bi bi-caret-up-fill'" (click)="toggleDoctorSortOrder()"></i>
                  </th>
                  <th>
                    Patient
                    <i [ngClass]="patientSortOrder === 'asc' ? 'bi bi-caret-down-fill' : 'bi bi-caret-up-fill'" (click)="togglePatientSortOrder()"></i>
                  </th>
                  <th>
                    Start Time
                    <i [ngClass]="startTimeSortOrder === 'asc' ? 'bi bi-caret-down-fill' : 'bi bi-caret-up-fill'" (click)="toggleStartTimeSortOrder()"></i>
                  </th>
                  <th>End Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of appointments ">
                  <td>{{ appointment.doctorFullName }}</td>
                  <td>{{ appointment.patientFullName }}</td>
                  <td>{{ appointment.appointmentDateStartTime | date:'medium' }}</td>
                  <td>{{ appointment.appointmentDateEndTime | date:'medium' }} </td>
                    <button
                      *ngIf="isFutureDate(appointment.appointmentDateStartTime)"
                      (click)="onDeleteAppointment(appointment || patientAppointments ||mergedAppointments)"
                      class="btn btn-light btn-sm remove-button"
                      >
                      <i class="bi bi-trash-fill remove-icon"></i>
                    </button>
                </tr>
                </tbody>
                </table>
          </div>
          
        </ng-container>
        <ng-template #noAppointmentsMessage>
          <p>No appointments available for the selected date.</p>
        </ng-template>
      </div>
    </div>

  </div> 