.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #007bff; /* Set the desired color */
}

form {
  max-width: 300px; /* Set the desired width for the form */
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.text-danger {
  margin-top: 10px;
  color: red; /* Set the desired color for error text */
}
