.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #007bff;
}

form {
  max-width: 300px; 
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}


.text-danger {
  margin-top: 10px;
  color: red; 
}